h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  font-weight: 500;
}

h1 span {
  color:  #EE24FF;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-size: 15px;
  font-weight: 400;
}

p span {
  color: #3F3D56;
  font-weight: bold;
}

